body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  text-align: center;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.footer a {
  text-decoration: none;
  transition: all 300ms ease-in-out;
  color:lightcoral;
}

.footer a:hover {
  text-decoration: underline;
}